.box{
    display: flex;
}
.box1{
    background-color: goldenrod;
    padding: 20px;
}

.box2{
    background-color: cadetblue;
    padding: 20px;
}

/* @media only screen and ( max-width:900px ){
    .box{
        background-color: cadetblue;
    }
}

@media only screen and ( max-width:700px ){
    .box{
        background-color: red;
    }
} */

@media only screen and ( max-width:400px ){
    .box1{
        background-color: yellow;
    }
} 

@media only screen and (max-width:700px)
{
    .box{ 
        display: block;
    }
}