*{
    margin: 0px;
    padding: 0px;
}

.menu{
    display: flex;
    align-items: center;
}

.menuText a{
    margin-left: -10px;
    color: black;
    text-decoration: none;
}

.navbar{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0px 45px;
}

.logo{
    transform: translateX(530px);
}

.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.5),transparent) , url(./images/AudiBG.jpeg);
    height: 90vh;
    background-size: cover;
    background-position: center;
    padding: 30px 350px 0px 40px;
    color: white;
}

.hero h1{
    font-size: 42px;
}

.hero p{
    font-size: 24px;
    margin: 15px 0px;
}

#btn1{
    background-color: white;
    color: black;
    font-size: 19px;
    border: none;
    padding: 18px 45px;
}

#btn1:hover{
    background-color: lightgrey;
}

#btn2{
    background-color: transparent;
    color: white;
    font-size: 19px;
    border: 1px solid white;
    padding: 18px 45px;
}

#btn2:hover{
    color: lightgray;
    border-color: lightgray;
}

.models{
    padding: 20px 20px;
    margin-bottom: 35px;
}

.modelTitle p{
    font-size: 18px;
    margin-left: 50px; /* agar hmko pura element move krna h to hmlog margin ka use krenge ya translate ka */
    /* but agar content ke andar move krna h to padding*/
}

.allModels{
    display: flex;
    justify-content: center;
}

.model{
    text-align: center;
    transition: 0.5s; /* hover die transform kie but transition static k lie dete h hover dynamic h..*/
     /*so sirf model ke lie denge transition*/
}

.model img{
    height: 150px;
    width: 340px;
}

.model:hover{
    transform: scale(1.05);
    text-decoration: underline;
    font-weight: bold;
}

.virtualShowroom{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0px 20px 0px;
}

.virtualShowroom img{
    height: 736px;
    width: 736px;
}

.image{
    padding-left: 60px;
    padding-bottom: 35px;
    margin-right: 50px;
}

.info{
    width: 45%;
    margin-left: 50px;
}

.info h1{
    font-size: 42px;
    font-family: sans-serif;
    margin: 10px;
}

.virtualShowroom button{
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 25px 100px;
    margin-top: 20px;
}

.virtualShowroom button:hover{
    color: gray;
    border-color: gray;

}

.electric{
    background-image: url(./images/Audi2ndBG.jpeg);
    background-position: center;
    /* background-size: cover; */ /* cover nhi denge to look like website*/
    height: 220vh;
}

.electricInfo{
    background-color: white;
    width: 500px;
    padding: 30px;
    position: relative;
    top: 350px;
    left: 30px;
}

.electricInfo p{
    margin: 35px 0px;
}

.btn3{
    background-color: black;
    color: white;
    border: 0;
    padding: 20px 50px;
}

.btn4{
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 20px 50px;
}

.btn3:hover{
    background-color: gray;
}

.btn4:hover{
    color: gray;
}